@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  caret-color: transparent;
}

.user-block {
  background: #F0F0F0;
  border: 1px solid #007FFF;
  border-radius: 10px;
  min-width: 282px;
  margin: 12px;
  min-height: 193px;
  padding: 20px;
  font-family: "Roboto Condensed", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-block #username {
  margin-bottom: 17px;
  font-weight: normal;
  font-size: 20px;
}

.user-block span {
  font-weight: 500;
  font-size: 16px;
  color: #6C6C6C;
  text-transform: capitalize;
  line-height: 19px;
  margin-top: 3px;
}

.user-block .more {
  background: #0071E3;
  border-radius: 4px;
  border: none;
  color: white;
  margin-top: 30px;
  width: 232px;
  height: 42px;
  cursor: pointer;
}

.bottom-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom-block .bottom-block-btn {
  background: #0071E3;
  border-radius: 4px;
  border: none;
  color: white;
  width: 48%;
  height: 42px;
  cursor: pointer;
}

.title {
  margin-top: 70px;
  margin-bottom: 53px;
  font-weight: bold;
  font-size: 48px;
  font-family: "Roboto Condensed", sans-serif;
}

.users-wrapper {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
}

.about-us-btn {
  background: #0071E3;
  border-radius: 4px;
  width: 232px;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 16px;
  height: 42px;
  cursor: pointer;
  margin: 80px 10px 150px 10px;
}

.home, .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutme-class {
  width: 1008px;
  height: 323px;
  font-weight: 550;
  font-size: 16px;
  line-height: 20px;
  margin: auto;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 80px;
}

.aboutme-class p {
  margin-top: 20px;
}

.router {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.Userdata {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  padding-left: 240px;
  margin: auto;
  line-height: 50px;
}

.Userdata span {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 22px;
}

.SearchUser {
  margin-bottom: 40px;
}

.SearchUser .searcher {
  font-family: "Roboto Condensed", sans-serif;
  height: 40px;
  padding-left: 10px;
  background: #ffffff;
  border: 1px solid #0071E3;
  border-radius: 10px;
  color: black;
  caret-color: black;
  width: 400px;
  font-weight: 500;
  font-size: 17px;
  height: 42px;
}

.SearchUser .searcher::-webkit-input-placeholder {
  color: black;
}

.SearchUser .searcher:-ms-input-placeholder {
  color: black;
}

.SearchUser .searcher::-ms-input-placeholder {
  color: black;
}

.SearchUser .searcher::placeholder {
  color: black;
}

.SearchUser button {
  height: 42px;
  cursor: pointer;
  width: 80px;
  margin-left: 10px;
  font-size: 17px;
  border-radius: 10px;
  font-family: "Roboto Condensed", sans-serif;
  background: #0071E3;
  border: 1px solid #0071E3;
  color: white;
}

.searcher-space {
  font-family: "Roboto Condensed", sans-serif;
}
/*# sourceMappingURL=style.css.map */