@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
$Roboto: 'Roboto Condensed', sans-serif

*
    padding: 0
    margin: 0
    outline: none
    box-sizing: border-box
    caret-color: transparent

.user-block
    background: #F0F0F0
    border: 1px solid #007FFF
    border-radius: 10px
    min-width: 282px
    margin: 12px
    min-height: 193px
    padding: 20px
    font-family: $Roboto
    display: flex
    flex-direction: column
    #username
        margin-bottom: 17px
        font-weight: normal
        font-size: 20px
    span
        font-weight: 500
        font-size: 16px
        color: #6C6C6C
        text-transform: capitalize
        line-height: 19px
        margin-top: 3px
    .more 
        background: #0071E3
        border-radius: 4px  
        border: none
        color: white
        margin-top: 30px
        width: 232px
        height: 42px
        cursor: pointer

.bottom-block
    display: flex
    margin-top: 10px
    justify-content: space-between
    .bottom-block-btn
        background: #0071E3
        border-radius: 4px  
        border: none
        color: white
        width: 48%
        height: 42px
        cursor: pointer



.title
    margin-top: 70px
    margin-bottom: 53px
    font-weight: bold
    font-size: 48px
    font-family: $Roboto

.users-wrapper
    width: 50%
    display: flex
    flex-wrap: wrap
    margin: auto

.about-us-btn
    background: #0071E3
    border-radius: 4px
    width: 232px
    border: none
    color: white
    font-weight: 500
    font-size: 16px 
    height: 42px
    cursor: pointer
    margin: 80px 10px 150px 10px


.home,.about
    display: flex
    flex-direction: column
    align-items: center

.aboutme-class
    width: 1008px
    height: 323px
    font-weight: 550
    font-size: 16px
    line-height: 20px
    margin: auto
    font-family: $Roboto
    margin-bottom: 80px
    p
        margin-top: 20px

.router
    width: 50%
    display: flex
    justify-content: center
    margin: auto

.Userdata
    display: flex
    flex-direction: column
    width: 50%
    padding-left: 240px
    margin: auto
    line-height: 50px
    span
        font-family: $Roboto
        font-size: 22px

.SearchUser
    margin-bottom: 40px
    .searcher
        font-family: $Roboto
        height: 40px
        padding-left: 10px
        background: #ffffff
        border: 1px solid #0071E3
        border-radius: 10px
        color: black
        caret-color: black
        width: 400px
        font-weight: 500
        font-size: 17px 
        height: 42px
        &::placeholder
            color: black
    button
        height: 42px
        cursor: pointer 
        width: 80px
        margin-left: 10px
        font-size: 17px 
        border-radius: 10px
        font-family: $Roboto
        background: #0071E3
        border: 1px solid #0071E3
        color: white
.searcher-space
    font-family: $Roboto