<template>
  <div class="home">
    <router-view />
    <h1 class="title">Facebook 2</h1>
    <SearchUser @inputSearch="inputSearch"/>
    <div v-if="this.fallBackUsers.length" class="users-wrapper">
      <ShowUsers @DeleteItem="DeleteItem"  v-for="item of fallBackUsers" :key="item.id" :items="item"  />
    </div>
    <span class="searcher-space" v-else>Ничего не найдено &#128549; </span>
    <router-link to="/about"
      ><button class="about-us-btn">О нас</button></router-link
    >
  </div>
</template>

<script>
import { allUsers } from "../data/data";
import ShowUsers from "../components/ShowUsers.vue";
import SearchUser from '../components/SearchUser.vue'

export default {
  name: "Home",
  data() {
    return {
      data: [],
      fallBackUsers: []
    };
  },
  created() {
    this.data = allUsers;
  }, 
  mounted() {
    this.fallBackUsers = this.data
  },
  methods: {
    DeleteItem(id){
      this.fallBackUsers = this.fallBackUsers.filter(item => item.id !== id)
    },
    inputSearch(){
      let value = event.target.value.toLowerCase().trim()

      this.fallBackUsers = this.data.filter(item => item.name.toLowerCase().includes(value)) 

   }
  },
  components: {
    ShowUsers,
    SearchUser
  },
};
</script>
