<template>
  <div class="UserPage">
          <UserData/>
      <div class="router">
        <router-link to="/about"><button class="about-us-btn">О нас</button></router-link>
        <router-link to="/"><button class="about-us-btn">На главную</button></router-link>
      </div>
  </div>
</template>
<script>
import UserData from '../components/UserData.vue'
export default {
    name: 'UserPage',
    components: {
        UserData,
    }
}
</script>


<style>

</style>