<template>
  <div class="SearchUser">
      <input @keyup="inputSearch()" class="searcher" placeholder="search user" type="text">
      <button class="searcher-clear">clear</button>
  </div>
</template>

<script>
export default {
    name: 'SearchUser',
    methods: {
        inputSearch() {
            this.$emit('inputSearch')
        }
    },
}
</script>

<style>

</style>