<template>
  <div class="ShowUsers">
    <div class="user-block">
      <h3 id="username">{{ items.name }}</h3>
      <span id="company">
        {{ Object.keys(items)[7] + " : " + items.company.name }}
      </span>
      <span id="website">
        {{ Object.keys(items)[6] + " : " + items.website }}
      </span>
      <span id="phone">
        {{ Object.keys(items)[5] + " : " + items.phone }}
      </span>
      <router-link :to="'/user/' + items.id"
        ><button class="more">Подробнее</button></router-link
      >
      <div class="bottom-block">
        <button class="bottom-block-btn">Edit</button>
        <button @click="DeleteItem(items.id)"  class="bottom-block-btn">Delete</button>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "ShowUsers",
  methods: {
    DeleteItem(){
      this.$emit('DeleteItem', this.items.id)
    }
  },
  props: ["items"],
};
</script>

<style>
</style>
