<template>
<div class="Userdata">
    <h1 class="title">User: {{`${user.id} - ${user.name}`}}</h1>
    <span>{{ `${Object.keys(user)[1]} :  ${user.name}` }}</span>
    <span>{{ `${Object.keys(user)[2]}  :  ${user.username}` }}</span>
    <span>{{ Object.keys(user)[3] + ' : ' + user.email }}</span>
    <span>{{ `${Object.keys(user)[4]} : ${user.address.city}` }}</span>
    <span>{{ Object.keys(user)[5] + ' : ' + user.phone }}</span>
    <span>{{ Object.keys(user)[7] + ' : ' + user.company.name }}</span>
    <span>{{ Object.keys(user)[6] + ' : ' + user.website }}</span>
</div>
</template>
<script>
import { allUsers } from "../data/data";
export default {
    name: 'UserData',
    data() {
        return {
            user: [],
            users: []
        }
    },
    created() {
    this.users = allUsers;
    },
    mounted() {
        let users = this.users.filter(item => item.id == this.$route.params.pathMatch)[0]
        this.user = users
    }
}
</script>

<style>
    
</style>