<template>
  <div id="app">
    <router-view />
    <div id="nav">
    
    </div>
  </div>
</template> 
<script>
import "../sass/style.css";
import Home from "../src/views/Home.vue";
import About from "../src/views/About.vue";
import UserPage from "../src/views/UserPage.vue";

export default {
  name: "App",
  components: {
    Home,
    About,
    UserPage,
  },
};
</script>
<style>
</style>
